.testimonials__container {
    width: 40% !important;
    padding-bottom: 4rem !important;
}

.testimonials__article{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    .testimonials__container {
    width: 60% !important;
    }
}


@media screen and (max-width: 600px) {
    .testimonials__container {
        width: var(--container-width-sm) !important;
    }
}